<%= turbo_frame_tag "new_early" do %>
  <div class="min-h-full flex flex-col justify-center py-12 lg:px-8">
    <div id="container" class="<%= form_page_container_class(nil)%>">
      <div class="bg-white py-8 px-4 shadow-lg sm:rounded-lg sm:px-10">
        <div class="space-y-6">
          <div class="space-y-2 items-center">
            <h1 class="text-base">
              <%# Currently under development. Provide your email as an indication that you would find this service of use to your business. It would motivate us even more! %>
              このサービスがお役に立つと考えられる場合は、お手数ですが電子メールを提供してください。それは私たちにとって一層のモチベーションとなります。
            </h1>
          </div>
          <%= form_with class: "space-y-3", model: @early, url: earlies_path do |form| %>
            <%= render partial: "shared/form_errors", locals: { form: form } %>
            <div class="h-18 sm:flex items-center">
              <div>
                <%= form.label :email, class: "sr-only" %>
                <%# <%= form.text_field :email, placeholder: "Email" %>
                <%= form.text_field :email, placeholder: "Eメール" %>
              </div>
              <div class="mt-4 sm:mt-0 sm:ml-3">
                <%# <%= form.submit "Submit", type: "submit" %>
                <%= form.submit "サブミット", type: "submit" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>