<% content_for :title do %>
<% end %>

<div class="mx-auto py-16 sm:px-6 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8">
  
  <!-- Tokujo details -->
  <div class="lg:max-w-lg lg:self-end">
    <div class="mt-4">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= @tokujo.menu_item.name %></h1>
    </div>
    <section aria-labelledby="information-heading" class="mt-4">
      <h2 id="information-heading" class="sr-only">Tokujo information</h2>
      <div class="mt-4 space-y-6">
        <p class="text-lg"><%= @tokujo.menu_item.description %></p>
      </div>
    </section>
  </div>

  <!-- Tokujo image -->
  <% if @tokujo.menu_item.image_one.attached? %>
    <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center">
      <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg">
        <%= image_tag @tokujo.menu_item.image_one %>
      </div>
    </div>
  <% end %>

  <!-- Tokujo form -->
  <div class="mt-10 lg:col-start-1 lg:row-start-2 lg:max-w-lg lg:self-start">
    <section aria-labelledby="options-heading">
      <div> 
        <p class="flex text-lg text-gray-900 sm:text-xl">
          <%= render partial: "shared/price", locals: { price: @tokujo.menu_item.price_with_tax_base, with_tax_text: true } %>
        </p>
        <p class="flex text-lg text-gray-900 sm:text-xl">
          <span>             
            <% if @tokujo.number_of_items_taken = 0 %>
              <%= @tokujo.number_of_items_available %>
            <% else %>
              <%= @tokujo.number_of_items_taken %> 
            <% end %>
          </span>    
          <span>&nbspof</span>
          <span>&nbsp<%= @tokujo.number_of_items_available %></span>
          <span>&nbspavailable</span>
        </p>
        <p class="flex text-lg text-gray-900 sm:text-xl">
          Tokujo ends on <%= @tokujo.order_period_ends_at %>
        <p>
      </div>
      <div class="mt-10">
        <%= form_with class: "space-y-6", method: "get", url: new_tokujo_sale_patron_path do |form| %>
          <div class="flex items-center space-x-3">
              <span><%= label_tag :size %></span>
              <span class="w-16"><%= number_field_tag :size, 1, { min: 1, step: 1 }, class: "appearance-none block w-full px-3 py-3 border border-slate-400 rounded-md shadow-sm text-base placeholder-gray-400 focus:outline-none focus:ring-slate-900 focus:border-slate-900" %></span>
          </div>
          <%= form.hidden_field :checkout_session_id, value: @checkout_session_id %>
          <%= form.hidden_field :tokujo_id, value: @tokujo.id %>
          <%= form.submit "Proceed to checkout" %>
        <% end %>
      </div>
    </section>
  </div>
</div>