<% content_for :aside do %>
  <div class="flex justify-end" data-controller="option-dialog">
    <button class="absolute", data-action="click->option-dialog#show", data-option-dialog-target="dialogButton">
      <%= image_tag("more_horiz_FILL0_wght400_GRAD0_opsz24.svg")%>
    </button>
    <div class="absolute w-80 h-48 rounded-tr-lg bg-black hidden", data-option-dialog-target="optionsDialog">
      <div class="grid grid-cols-1">
        <div class="col-span-1 flex justify-end">
          <button data-action="click->option-dialog#hide" class="text-white">
            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
              <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
            </svg>
          </button>
        </div>
        <div class="col-span-1 grid py-3">
          <%= link_to t("views.dashboards.tokujos.index.edit_this_tokujo"), edit_tokujo_path(@tokujo.id), class: "px-3 py-1 text-white text-base font-light hover:bg-black" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h1 class="text-2xl font-semibold"><%=@tokujo.headline%></h1>
<div class="space-y-9 mt-3">
  <section class="flex flex-col sm:grid sm:gap-2 lg:grid-flow-col-dense lg:grid-cols-3">
    <div class="sm:col-start-1 sm:col-span-2">
      <h1 class="py-3 text-lg font-medium text-gray-900"><%= t("views.dashboards.tokujos.index.tokujo_detail") %></h1>
      <div class="space-y-6">
        <div class="bg-white sm:rounded-lg">
          <div class="py-5">
            <%= detail_dl_rows(@tokujo.attributes) %>
          </div>
        </div>
      </div>
    </div>

    <div class="sm:col-start-3">
      <h1 class="py-3 text-lg font-medium text-gray-900"><%= t("views.dashboards.tokujos.index.sales_page_qr_code_&_url") %></h1>
    
      <div data-controller="download-image">
        <h1 class="py-3 text-lg font-medium text-gray-900"><%= t("views.dashboards.tokujos.index.qr_code") %></h1>
        <div class="flex items-center space-x-2">
          <%= image_tag @tokujo_sales_qr_code_png_url,  {data: { download_image_target: "image" }}  %>
          <button data-action="click->download-image#download">
            <%= image_tag("download_FILL0_wght400_GRAD0_opsz24.svg")%>
          </button>
        </div>
      </div>

       <div data-controller="copy-to-clipboard" class="lg:col-start-3 lg:col-span-1">
        <h1 class="py-3 text-lg font-medium text-gray-900"><%= t("views.dashboards.tokujos.index.url") %></h1>
        <div class="flex items-center space-x-2">
          <%= text_field_tag nil, @tokujo_sales_url, {data: { copy_to_clipboard_target: "url" }, class: "appearance-none block w-full px-3 border border-slate-400 rounded-md shadow-sm text-base placeholder-gray-400 focus:outline-none focus:ring-gray-900 focus:border-gray-900", disabled: true} %>
          <button data-action="click->copy-to-clipboard#copy">
            <%= image_tag("content_copy_FILL0_wght400_GRAD0_opsz24.svg")%>
          </button>
        </div>
      </div>

    </div>
  </section>




  <section class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
    <%= render partial: "card_square", locals: { route_path: dashboard_tokujos_orders_path(@tokujo.id), header: t("views.dashboards.tokujos.index.orders") } %>
    <%= render partial: "card_square", locals: { route_path: dashboard_tokujos_user_patrons_path(@tokujo.id), header: t("views.dashboards.tokujos.index.patrons") } %>
  </section>
</div>