<% content_for :title do %>
  <%= t("views.settings.profiles.edit.profile") %>
<% end %>

<div class="min-h-full flex flex-col justify-center py-12 lg:px-8">
    
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    
      <%= form_with class: "space-y-4", model: @user, method: "patch", url: settings_profiles_update_path do |form| %>
        
        <%= render partial: "shared/form_errors", locals: { form: form } %>

        <div>
          <%= form.label t("views.settings.profiles.edit.username") %>
          <div class="mt-1">
            <%= form.text_field :username %>
          </div>
        </div>

        <div>
          <%= form.label t("views.settings.profiles.edit.password")  %>
          <div class="mt-1">
            <%= link_to  t("views.settings.profiles.edit.change_your_login_info_here"), settings_password_edit_path, class: "w-full py-2 sm:text-sm underline" %>
          </div>
        </div>

        <div>
          <%= form.submit t("views.settings.profiles.edit.save_changes") %>
        </div>
      <% end %>

    </div>
  </div>
</div>